
.vs/ProjetoLumia/v16/.suo
.vs/ProjetoLumia/v16/Server/sqlite3/storage.ide-shm
.vs/ProjetoLumia/v16/Server/sqlite3/storage.ide-wal
CamadaMobile/obj/Debug/90/CamadaMobile.csprojAssemblyReference.cache
CamadaMobile/obj/Debug/90/designtime/build.props
CamadaMobile/obj/Debug/90/designtime/Resource.designer.cs
CamadaMobile/obj/Debug/90/libraryprojectimports.cache
.vs/ProjetoLumia/v16/.suo
.vs/ProjetoLumia/v16/Server/sqlite3/storage.ide-shm
.vs/ProjetoLumia/v16/Server/sqlite3/storage.ide-wal
CamadaMobile/obj/Debug/90/CamadaMobile.csprojAssemblyReference.cache
CamadaMobile/obj/Debug/90/designtime/build.props
CamadaMobile/obj/Debug/90/designtime/Resource.designer.cs
CamadaMobile/obj/Debug/90/libraryprojectimports.cache
